<div *ngIf="itemsToDisplay">
  <div class="divbtn">
    <button class="btnStyle" (click)="toggleState()">
      <img *ngIf="listState" class="icon-img" src="assets/cells.png" />
      <img *ngIf="!listState" class="icon-img" src="assets/list.png" />
      {{ listState ? "Table" : "List" }}
    </button>
    <input
      label="Search field"
      img
      class="icon-img"
      placeholder="Search field"
      dir="ltr"
      class="inputStyle"
      type="text"
      #inputField
      (keyup)="search($event)"
    />

    <button class="btnStyle" (click)="clear(inputField)">
      <img class="icon-img" src="assets/trash.png" />Clear
    </button>
    <button class="btnStyle" (click)="toggleSort()">
      <img class="icon-img" src="assets/sorting.png" />Sort
    </button>
  </div>
  <div [ngClass]="{ 'grid-container': !listState }">
    <div class="divWarp" *ngFor="let item of itemsToDisplay; let i = index">
      <div class="divStyleList">
        <ng-container *ngIf="editingIndex !== i; else editField">
          <label class="titlestyle" (click)="moveToInput(i)"
            >Title:{{ item.Title }}</label
          >
        </ng-container>
        <ng-template #editField>
          <input
            type="text"
            (blur)="titleChanged($event, item)"
            [value]="item.Title"
          />
        </ng-template>
        <span class="yearStyleList"
          >
          year:{{ item.Year | dateStr }}</span
        >
      </div>
      <div id="imgWrap">
        <img
          class="imgStyleList"
          *ngIf="item.Poster"
          (click)="openModal(item)"
          [src]="item.Poster"
          (error)="handleImageError(item)"
          alt="Image"
        />
      </div>
    </div>
  </div>
</div>
