div {
  direction: rtl;
}
.btnStyle {
  border-radius: 10px;
  width: 120px;
  height: 50px;
  margin: 10px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 28%);
  color: #af3131;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
}
.divItem {
    border-radius: 10px;
    width: 120px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgb(0 0 0 / 28%);
    color: #af3131;
    font-size: 16px;
    border: 1px solid #af3131;
}
.groupstyle{
    margin-top: 20px;
}
.icon-img{
    width: 20px;
    height: 20px;
    padding-left: 10px;
    margin-bottom: -3px;
}