<div>
 

<mat-tab-group class="groupstyle"  mat-stretch-tabs = "false"  mat-align-tabs = "start"  > 
  <mat-tab  *ngFor="let item of itemsGroup | keyvalue" class="divType" >
  <ng-template mat-tab-label >
<div>
  
    <div class="divItem">
    <span>{{item.key}}</span>
    <br/>
    <span>({{item.value.length}})</span>
  </div>
</div>
</ng-template>
<!-- </mat-tab> -->
<button id="btnRefresh" class="btnStyle" (click)="refresh()">
  <img class="icon-img" src="assets/refresh.png">Refresh
</button>

<app-item [items]="item.value"></app-item>
  </mat-tab > 

</mat-tab-group >
</div>